body{
    text-align: center;
}

.btn{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 20% ;
    border: 10px solid black;
    margin:2rem;
}
.btn-container{
    display:flex;
    justify-content: center;
}
.red{
    background-color: rgb(241, 77, 77);
}
.yellow{
    background-color: rgb(232, 232, 83);
}
.green{
    background-color: rgb(40, 122, 40);
}
.purple{
    background-color: rgb(220, 119, 220);
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
